@tailwind base;

// NOTE: Tailwind removes ALL existing styling that browsers provide so we need to build our own H1 thru H6 styling.
@layer base {
  h1 {
      @apply text-4xl font-thin mb-4;
  }

  h2 {
      @apply text-3xl font-thin mb-3;
  }

  h3 {
      @apply text-2xl font-thin mb-2;
  }

  h4 {
      @apply text-xl font-thin mb-2;
  }

  h5 {
      @apply text-lg font-thin mb-2;
  }

  p {
      margin-bottom: 1rem;
  }

  h6 {
      @apply text-base font-thin mb-2;
  }

  // Base styles for lists
  ul,
  ol {
      margin-left: 1.5rem;
  }

  // Unordered lists (ul) nesting behavior
  ul {
      list-style-type: disc;
  }

  ul ul {
      list-style-type: circle;
  }

  ul ul ul {
      list-style-type: square;
  }

  ul ul ul ul {
      list-style-type: disc;
  }

  ul ul ul ul ul {
      list-style-type: circle;
  }

  ul ul ul ul ul ul {
      list-style-type: square;
  }

  // Ordered lists (ol) nesting behavior
  ol {
      list-style-type: decimal;
  }

  ol ol {
      list-style-type: lower-alpha;
  }

  ol ol ol {
      list-style-type: lower-roman;
  }

  ol ol ol ol {
      list-style-type: decimal;
  }

  ol ol ol ol ol {
      list-style-type: lower-alpha;
  }

  ol ol ol ol ol ol {
      list-style-type: lower-roman;
  }

  select {
      padding-right: .5rem !important;
  }
}

@tailwind components;
@tailwind utilities;

// This is where your custom components go
@layer components {
  .page-container {
    @apply h-screen flex flex-col w-screen min-w-full bg-gray-900 text-gray-200 border border-blue-400/30
  }

  .app-header {
    @apply w-full bg-gray-800 text-gray-100 p-2 flex-shrink-0 flex justify-between items-center shadow-md border-b border-blue-400/30
  }

  .input-field {
    @apply rounded px-2 py-1 bg-gray-700 text-gray-100 border border-gray-600 w-28 focus:outline-none focus:ring-2 focus:ring-blue-500;
  }
  
  .btn-primary {
    @apply bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-600 h-10;
  }

  .btn-secondary {
    @apply bg-gray-400 text-white py-2 px-4 rounded hover:bg-gray-600 h-10;
  }

  .btn-danger {
    @apply bg-red-600 text-white py-2 px-4 rounded hover:bg-gray-600 h-10;
  }

  .btn-warning {
    @apply bg-orange-600 text-white py-2 px-4 rounded hover:bg-gray-600 h-10;
  }

  .btn-green {
    @apply bg-green-600 text-white py-2 px-4 rounded hover:bg-gray-600 h-10;
  }
  
  .btn-icon {
    @apply bg-gray-600 text-white rounded-md flex items-center justify-center h-10 w-10;
  }

  .btn-clear-icon {
    @apply text-white rounded-md flex items-center justify-center h-10 w-10;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply h-screen w-full bg-gray-100 m-0 p-0 overflow-hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
